.login-container {
  .login-right {
    .forgetPasswordWrapper {
      padding: 20px;
      border-radius: 4px;
      width: 100%;
      max-width: 404px;
      &__title {
        font-size: 24px;
        line-height: 36px;
        color: #fff;
        font-weight: 500;
        margin: 0;
        margin-bottom: 20px;
      }
      &__desc {
        color: #fff;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        margin-top: 4px;
        margin-bottom: 10px;
      }
      .PrimaryButton.MuiButtonBase-root {
        margin-top: 24px;
      }
      .otpInput-group {
        > div {
          gap: 24px;
          margin: 0;
          margin-top: 10px;
          color: #d32f2f;
          font-size: 14px;
          line-height: 16px;
          input {
            width: 100% !important;
            height: 40px;
            background: transparent;
            border: solid 1px #3e4a57;
            color: #fff;
            border-radius: 4px;
          }
          span {
            display: none;
          }
        }
      }
      .resend-OTP {
        margin: 24px 0 0;
        color: #c4c4c4;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        span {
          font-weight: 500;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
